<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>funfactspractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BD65D631CDD0B5B00C2B1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BD65D7F1CDD0B5B00C2B1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BD65D8A1CDD0B5B00C2B1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
